@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0px;
}

body {
    font-family:  'Helvetica Neue', sans-serif;
    background: url(../img/maintenance.png) no-repeat #ffbdad ;
    background-size: cover;
}

img {
    transform: rotate();
}

#setting {
    width: 70px;
    animation: rotate .1s ease-out infinite alternate;
    margin-top: 10px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
